@{
    Layout = null;
}<!DOCTYPE html>
<html id="MuHtmlTag">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/Framework/Icon.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/Framework/Framework.css" />
    <script type="text/javascript" src="~/lib/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/Framework/Framework.dev.js"></script>
</head>
<body id="MuBodyTag">
    <div id="MuWrapper">
        <div id="MuHeader">
            <div id="MuHeaderTxt"><span>电跑跑商务报价平台</span></div>
        </div>
        <div id="MuBody">
            <div id="MuSideBar"></div>
            <div id="MuTabView"></div>
        </div>
    </div>
</body>
</html>