@{
    Layout = null;
}<!DOCTYPE html>
<html id="MuHtmlTag">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/Framework/Icon.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/Framework/Framework.css" />
    <script type="text/javascript" src="~/lib/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/Framework/Framework.dev.js"></script>
</head>
<body id="MuBodyTag">
    <div id="MuWrapper">
        <div id="MuHeader">
            <div id="MuHeaderTxt"><span>电跑跑商务报价平台</span></div>
            <div id="MuHeaderOption"><span id="SpanToggleSideBar" class="mu-icon mu-icon-24-list" title="切换左侧菜单"></span></div>
        </div>
        <div id="MuBody">
            <div id="MuSideBar">
                <div id="MuUserInfo">
                    <div id="MuUserAvatar"><img class="mu-avatar" src="~/images/Avatar.png" /></div>
                    <div id="MuUserNickname"><span>早上好！徐侃</span></div>
                    <div id="MuUserPosition"><span>超级管理员</span></div>
                </div>
                <div id="MuMainMenu">
                    <div class="mu-mainMenu">
                        <div class="mu-mainMenu-bar on">
                            <i class="mu-icon mu-icon-16-folder"></i>
                            <span class="mu-text">系统设置</span>
                        </div>
                        <div class="mu-mainMenu-group">
                            <div class="mu-mainMenu-item">
                                <i class="mu-icon mu-icon-16-list"></i>
                                <span class="mu-text">用户管理</span>
                            </div>
                            <div class="mu-mainMenu-item">
                                <i class="mu-icon mu-icon-16-list"></i>
                                <span class="mu-text">权限管理</span>
                            </div>
                            <div class="mu-mainMenu-item">
                                <i class="mu-icon mu-icon-16-list"></i>
                                <span class="mu-text">模块管理</span>
                            </div>
                        </div>
                    </div>
                    <div class="mu-mainMenu">
                        <div class="mu-mainMenu-bar">
                            <i class="mu-icon mu-icon-16-folder"></i>
                            <span class="mu-text">报价预处理</span>
                        </div>
                        <div class="mu-mainMenu-group"></div>
                    </div>
                    <div class="mu-mainMenu">
                        <div class="mu-mainMenu-bar">
                            <i class="mu-icon mu-icon-16-folder"></i>
                            <span class="mu-text">报价管理</span>
                        </div>
                        <div class="mu-mainMenu-group"></div>
                    </div>
                </div>
            </div>
            <div id="MuTabView"></div>
        </div>
    </div>
    <div id="MuLoading">
        <div id="MuLoadingBg"></div>
        <div id="MuLoadingPanel">
            <div id="MuLoadingIcon"><div class="mu-loadingIcon"><i></i></div></div>
            <div id="MuLoadingMessage"><span class="mu-text">页面加载中，请稍候</span></div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/Module/Framework/Index.js"></script>
</body>
</html>